@charset "UTF-8";


body {background-color:black;
      font:normal 24px verdana;

}
figcaption  {color:#fff;
             font:bold 12 px Arial; 
             box-shadow: 3px 3px  6px  gray;


}

h1 {color: white;
      font:bold  24px verdana;
      text-align:center;

}

h3 {color: white;
      font:bold  24px verdana;
      text-align:left;
}
 p {color: white;
      font:normal 12px  verdana;
      text-align: justify;
    text-indent: 50px;
}

hgroup {color: #fff;
      font:bold 24px  Arial;
       text-align:center;
       text-indent: 50px;


}



      

figure.foto-legenda {

      border: 8px   solid gray;
      box-shadow: 3px 1px 4px gray;  


}

figure.foto-legenda img {

width: 180px;
height: 180px;


}
 

/* img {border: 5px  solid  white;
      object-fit: cover;
     object-position: 80% 100%;



}
*/



p {color: #fff;
      font:bold 24px Arial;
      text-align: justify;


}








