body {background-color:dimgray;
    font:normal 24px verdana;


}

/*formatação de texto*/


figcaption  {color:black;
           font:normal 18px Arial; 
           text-align:center;
           
}

figure.foto-legenda figcaption {
opacity: 0%;
text-align: center;
position: relative;


transition: opacity .5s ease-in-out;
}

figure.foto-legenda figcaption {

background-color: rgba(0,0,0,.4);
color: rgba(255, 255, 255,.6);
width: 100%;
height: 100%;
top:0%;
padding: 10%;
box-sizing: border-box;



}

figure.foto-legenda:hover figcaption {


opacity: 0s;


}



p {color:black;
    font:bolder 14px  verdana;
    text-align: justify;
  text-indent: 40px;
  position: absolute;
  top: 50%;


}

hgroup {color: black;
    font:normal 12px  Arial;
     text-align:center;
     text-indent: 50%;
     text-shadow: 1px 1px 4px white;
    
}


/*  Formatação de imagens com Legendas */ 
    
figure.foto-legenda {

    border: 8px   solid white;
    box-shadow: 1px 1px 4px black; 
    position: absolute;
    top: 10%;
    }

figure.foto-legenda {

width: 200px;
height: 200px;

}
    


figure.foto-legenda img {

width: 200px;
height: 200px;
position:absolute;
top: 0%;
}



figure.foto-banner img {

width: 200px;
height: 200px;
position:relative;
top:50px;
al
}




   




/* Formatação Video */ 

embed {
    border: 8px  solid  white;
    box-shadow: 6px 6px 12px gray;
    position:absolute;
    top: 70%;
    padding: top 1px;
   

}

